<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link type="text/css" href="/static/styles/style.css" rel="stylesheet">
</head>
<header>
    {% block header %}
        {% block mainmenu %}
            <ul class="mainmunu">
                <li>
                    <a href="{% url 'home' %}">Главная</a><a href="{% url 'about' %}">О сайте</a><a href="{% url 'feedback' %}">Обратная связь</a>
                </li>
            </ul>
        {% endblock mainmenu %}
    {% endblock %}
</header>
<body>
{% block content %}
{% endblock %}
</body>
</html>